@import url("https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");

@import "tailwindcss";

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  font-family: "Space Mono", monospace;
}

.cursor {
  display: inline-block;
  width: 1ch;
  animation: blink 1s infinite;
}

.navbar-container {
  position: fixed;
  display: flex;
  top: 0;
  width: 100%;
  height: 5rem;
}

.navbar-block:hover .navbar-riser {
  transition-property: transform;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 500ms;
  width: 100%;
  display: flex;
  background-color: rgb(0, 0, 0, 0.9);
  height: 100%;
  /*  ----------------------------------*/
  transform: none;
}

.navbar-riser {
  transition-property: transform;
  transition-duration: 2000ms;
  width: 100%;
  display: flex;
  background-color: rgb(0, 0, 0, 0.9);
  height: 100%;
  /*  ----------------------------------*/
  transform: translateY(-4rem);
}

.navbar-block {
  width: 5%;
  display: flex;
  height: 5rem;
}

.scrollbar-display-none::-webkit-scrollbar {
  /*Hide scrollbar for Chrome, Safari and Opera*/
  display: none;
}

.scrollbar-display-none {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.shadow-light {
  /*border-radius: 50px;*/
  box-shadow: 5px 5px 10px rgba(153, 27, 27, 0.4),
    -5px -5px 10px rgba(254, 202, 202, 0.6);
}

.shadow-light:hover {
  /*border-radius: 50px;*/
  box-shadow: inset 5px 5px 10px rgba(153, 27, 27, 0.4),
    inset -5px -5px 10px rgba(254, 202, 202, 0.6);
}

.shadow-light:active {
  /*border-radius: 50px;*/
  box-shadow: inset 5px 5px 10px rgba(153, 27, 27, 0.4),
    inset -5px -5px 10px rgba(254, 202, 202, 0.6);
}

/*------------------------------------------------------------*/

.shadow-dark {
  /*border-radius: 50px;*/
  box-shadow: 5px 5px 10px rgba(153, 27, 27, 0.4),
    -5px -5px 10px rgba(254, 202, 202, 0.6);
}

.shadow-dark:hover {
  /*border-radius: 50px;*/
  box-shadow: inset 5px 5px 10px rgba(153, 27, 27, 0.4),
    inset -5px -5px 10px rgba(254, 202, 202, 0.6);
}

.shadow-dark:active {
  /*border-radius: 50px;*/
  box-shadow: inset 5px 5px 10px rgba(153, 27, 27, 0.4),
    inset -5px -5px 10px rgba(254, 202, 202, 0.6);
}

.nav-item {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  font-size: 1.875rem; /* 30px */
  line-height: 2.25rem; /* 36px */
  padding-left: 2rem; /* 4px */
  padding-right: 2rem; /* 4px */
}

.size-transition {
  transition-duration: 0.2s;
  transition-property: height, width, margin;
}

.portfolio-display-bg {
  box-shadow: inset 15px 0 50px rgb(0 0 0 / 0.2);
}

.portfolio_scroll-bg-start {
  transform: translateY(-100%);
  position: absolute;
  width: 100%;
  height: 100%;
  animation-name: portfolio-scroll;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
.portfolio_scroll-bg-end {
  position: absolute;
  width: 100%;
  height: 100%;
  animation-name: portfolio-scroll;
  animation-duration: 5s;
  animation-delay: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.scroll-left-container-start-1 {
  display: flex;
  height: 100%;
  animation-name: scroll-across-left;
  animation-duration: 12s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.scroll-left-container-end-1 {
  display: flex;
  height: 100%;
  animation-name: scroll-across-left;
  animation-duration: 12s;
  animation-delay: 12s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.scroll-left-container-start-2 {
  display: flex;
  height: 100%;
  animation-name: scroll-across-left;
  animation-duration: 10s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.scroll-left-container-end-2 {
  display: flex;
  height: 100%;
  animation-name: scroll-across-left;
  animation-duration: 10s;
  animation-delay: 10s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.scroll-right-container-start {
  display: flex;
  height: 100%;
  animation-name: scroll-across-right;
  animation-duration: 14s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.scroll-right-container-end {
  display: flex;
  height: 100%;
  animation-name: scroll-across-right;
  animation-duration: 14s;
  animation-delay: 14s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.tap-target-top {
  animation-name: tap-target-move-left;
  animation-duration: 4s;
  animation-delay: 2s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.tap-target-bottom {
  animation-name: tap-target-move-right;
  animation-duration: 4s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes blink {
  0%,
  50% {
    opacity: 1;
  }
  51%,
  100% {
    opacity: 0;
  }
}

@keyframes tap-target-move-left {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

@keyframes tap-target-move-right {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}

@keyframes portfolio-scroll {
  0% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(100%);
  }
}

@keyframes scroll-across-left {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}

@keyframes scroll-across-right {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(100%);
  }
}

@keyframes cursor {
  50% {
    border-color: transparent;
  }
}

#shift-container {
  perspective: 40px;
}
