@import "tailwindcss";

@keyframes wiggle {
  0%,
  100% {
    transform: rotate(-2deg);
  }
  50% {
    transform: rotate(2deg);
  }
}

@utility animate-wiggle {
  animation: wiggle 0.5s ease-in-out infinite;
}

@utility animate-spin-slow {
  animation: spin 10s linear infinite;
}

@utility scale-98 {
  scale: 0.98;
}
@utility scale-99 {
  scale: 0.99;
}

body {
  height: 100%;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
